### **Table of Contents**
* [Keep this file in your project](#keep-this-file-in-your-project)

This project uses temperature data from the Louisville Weather Forecast office, ozone level data from stations in Jefferson County, and humidity and windchill data(to calculate average windchill and heat index) from the Louisville International Airport. These will provide estimates of extreme weather and unsafe air conditions for each day in 2024.

## (Will remove following Issues section when project is complete- using to stay organized)
First Sprint Issues(10/27 deadline):
- Find Data and Note Source     -done
- Read in Data                  -done
- Convert Data to a Usable Format  -done
- Build Ways to Handle Errors   -done
- Get General Info from Data    -done

Second Sprint Issues (11/19 deadline):
- Deal with Nulls     -done
- Clean Up Code       -done
- Feature Engineering
- Clean Your Dataset

## Find Data and Note Source
Data set #1: 2024 Louisville Daily Max and Min Temperatures

Data: 4147807.csv

Source: https://www.ncdc.noaa.gov/cdo-web/search

Data set #2: 2024 Louisville Daily Ozone Readings

Data: ad_viz_plotval_data.csv

Source: https://www.epa.gov/outdoor-air-quality-data/download-daily-data

Dataset #3: Louisville International Airport Climatological Data- contains wind speed and humidity

Data: temp_wind_humidity

Source:  https://www.ncei.noaa.gov/access/search/data-search/local-climatological-data-v2?pageNum=1&dataTypes=DailyAverageRelativeHumidity&dataTypes=DailyMaximumDryBulbTemperature&dataTypes=DailyMinimumDryBulbTemperature&dataTypes=DailyPeakWindSpeed&dataTypes=DailySustainedWindSpeed&startDate=2024-01-01T00:00:00&endDate=2024-12-31T23:59:59&bbox=38.469,-85.965,38.043,-85.539

## Reading in Data

In [367]:
import pandas as pd

Reading in temperature data set:

In [368]:
temp_df = pd.read_csv("4147807.csv")

Reading in ozone data set:

In [369]:
ozone_df = pd.read_csv("ad_viz_plotval_data.csv")

Reading in Temp/Wind/Humidity data:

In [370]:
temp_wind_hum_df = pd.read_csv("temp_wind_humidity.csv", low_memory=False)

## Coverting Data to a Usable Format, and Building Ways to Handle Errors:

### Temperature data:

Checking for null values:

In [371]:
temp_df.isnull().sum()

STATION    0
NAME       0
DATE       0
PRCP       0
SNOW       0
SNWD       0
TMAX       0
TMIN       0
TOBS       0
dtype: int64

In [372]:
temp_df.isnull().values.any()

np.False_

No nulls in temperature data.

Converting date from object to datetime:

In [373]:
temp_df['DATE'] = pd.to_datetime(temp_df['DATE'])

Renaming columns, and removing unneeded columns:

In [374]:
temp_df.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN',
       'TOBS'],
      dtype='object')

In [375]:
temp_df = temp_df.rename(columns = {'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp', 'DATE': 'Date'})

In [376]:
temp_df.drop(['NAME', 'STATION', 'PRCP', 'SNOW', 'SNWD', 'TOBS'], axis=1, inplace=True)

Checking for duplicated rows(even though it looks like one row for each day with 366 rows):

In [377]:
temp_df[temp_df['Date'].duplicated()]

Empty DataFrame
Columns: [Date, Max_Temp, Min_Temp]
Index: []

### Ozone data:

Checking for null values:

In [378]:
ozone_df.isnull().sum()

Date                                      0
Source                                    0
Site ID                                   0
POC                                       0
Daily Max 8-hour Ozone Concentration      0
Units                                     0
Daily AQI Value                           0
Local Site Name                         341
Daily Obs Count                           0
Percent Complete                          0
AQS Parameter Code                        0
AQS Parameter Description                 0
Method Code                               0
CBSA Code                                 0
CBSA Name                                 0
State FIPS Code                           0
State                                     0
County FIPS Code                          0
County                                    0
Site Latitude                             0
Site Longitude                            0
dtype: int64

In [379]:
ozone_df[ozone_df['Local Site Name'].isnull()]

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,Units,Daily AQI Value,Local Site Name,Daily Obs Count,Percent Complete,...,AQS Parameter Description,Method Code,CBSA Code,CBSA Name,State FIPS Code,State,County FIPS Code,County,Site Latitude,Site Longitude
344,01/01/2024,AQS,180430008,1,0.017,ppm,16,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
345,01/03/2024,AQS,180430008,1,0.024,ppm,22,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
346,01/04/2024,AQS,180430008,1,0.022,ppm,20,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
347,01/05/2024,AQS,180430008,1,0.016,ppm,15,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
348,01/06/2024,AQS,180430008,1,0.019,ppm,18,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,12/26/2024,AQS,180430008,1,0.022,ppm,20,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
681,12/27/2024,AQS,180430008,1,0.025,ppm,23,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
682,12/28/2024,AQS,180430008,1,0.018,ppm,17,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
683,12/29/2024,AQS,180430008,1,0.041,ppm,38,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
684,12/30/2024,AQS,180430008,1,0.029,ppm,27,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322

Filling in the nulls with 'unknown', as they all come from the same latitude and longitude.  Also, this site is in Floyd County, not Jeffersone, and I will be removing the data from sites that are not in Jefferson County, as I am focusing on Lousiville Metro data.

In [380]:
ozone_df['Local Site Name'] = ozone_df['Local Site Name'].fillna('Unknown')

In [381]:
ozone_df.isnull().sum()

Date                                    0
Source                                  0
Site ID                                 0
POC                                     0
Daily Max 8-hour Ozone Concentration    0
Units                                   0
Daily AQI Value                         0
Local Site Name                         0
Daily Obs Count                         0
Percent Complete                        0
AQS Parameter Code                      0
AQS Parameter Description               0
Method Code                             0
CBSA Code                               0
CBSA Name                               0
State FIPS Code                         0
State                                   0
County FIPS Code                        0
County                                  0
Site Latitude                           0
Site Longitude                          0
dtype: int64

Converting 'Date' column from object to datetime:

In [382]:
ozone_df['Date'] = pd.to_datetime(ozone_df['Date'])

Removing columns and renaming columns:

In [383]:
ozone_df.columns = ozone_df.columns.str.replace(' ', '_')

In [384]:
ozone_df.rename(columns = {'Daily_Max_8-hour_Ozone_Concentration': 'Max_Concentration', 'Daily_AQI_Value': 'AQI_Value', 'AQS_Parameter_Description': 'Substance_Measured'}, inplace=True)

In [385]:
ozone_df.drop(['Daily_Obs_Count', 'Units', 'Source', 'POC', 'Method_Code', 'CBSA_Code', 'CBSA_Name', 'State_FIPS_Code', 'State', 'County_FIPS_Code', 'AQS_Parameter_Code', 'Percent_Complete', 'Site_ID', 'Site_Latitude', 'Site_Longitude'], axis=1, inplace=True)

Not all sites are in Lousiville Metro- removing counties that are not Jefferson:

In [386]:
ozone_df['County'].value_counts()

County
Jefferson    1077
Clark         344
Floyd         341
Bullitt       241
Oldham        240
Name: count, dtype: int64

In [387]:
ozone_df = ozone_df[ozone_df['County'] == 'Jefferson']

Removing more uneeded columns:

In [388]:
ozone_df.drop(['Max_Concentration', 'Local_Site_Name', 'County'], axis=1, inplace=True)

Checking datatypes:

In [389]:
ozone_df.dtypes

Date                  datetime64[ns]
AQI_Value                      int64
Substance_Measured            object
dtype: object

Checking for duplicates:

In [390]:
ozone_df[ozone_df.duplicated(subset=['Date'])]

           Date  AQI_Value Substance_Measured
1217 2024-03-01         23              Ozone
1218 2024-03-02         22              Ozone
1219 2024-03-03         34              Ozone
1220 2024-03-04         33              Ozone
1221 2024-03-05         28              Ozone
...         ...        ...                ...
1998 2024-10-26         36              Ozone
1999 2024-10-27         37              Ozone
2000 2024-10-28         33              Ozone
2001 2024-10-29         43              Ozone
2002 2024-10-30         39              Ozone

[713 rows x 3 columns]

There are readings from multiple stations in Jefferson County for each day.

Aggregating ozone data to keep the max ozone reading per day:

In [391]:
ozone_agg_df = ozone_df.groupby(ozone_df['Date']).max().reset_index()

### Temp/Wind/Humidity Data:

Removing uneeded columns:

In [392]:
temp_wind_hum_df.drop(['BackupDirection', 'BackupDistance', 'BackupDistanceUnit',
       'BackupElements', 'BackupElevation', 'BackupEquipment',
       'BackupLatitude', 'BackupLongitude', 'BackupName',
       'WindEquipmentChangeDate','LATITUDE', 'LONGITUDE', 'ELEVATION','REPORT_TYPE','ShortDurationPrecipitationValue020',
       'ShortDurationPrecipitationValue030',
       'ShortDurationPrecipitationValue045',
       'ShortDurationPrecipitationValue060',
       'ShortDurationPrecipitationValue080',
       'ShortDurationPrecipitationValue100',
       'ShortDurationPrecipitationValue120',
       'ShortDurationPrecipitationValue150',
       'ShortDurationPrecipitationValue180', 'REM','HourlyPrecipitation',
       'HourlyPresentWeatherType', 'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'DailyWeather', 'MonthlyAverageRH',
       'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip',
       'MonthlyDaysWithGT32Temp', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
       'MonthlyDepartureFromNormalAverageTemperature',
       'MonthlyDepartureFromNormalCoolingDegreeDays',
       'MonthlyDepartureFromNormalHeatingDegreeDays',
       'MonthlyDepartureFromNormalMaximumTemperature',
       'MonthlyDepartureFromNormalMinimumTemperature',
       'MonthlyDepartureFromNormalPrecipitation', 'MonthlyDewpointTemperature',
       'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'DailyPrecipitation',
       'DailySnowDepth', 'DailySnowfall', 'DailySustainedWindDirection', 'DailyPeakWindDirection', 'DailyCoolingDegreeDays',
       'DailyDepartureFromNormalAverageTemperature', 'DailyHeatingDegreeDays', 'DailyAverageSeaLevelPressure',
       'DailyAverageStationPressure', 'DailyAverageWetBulbTemperature', 'Sunrise', 'Sunset',
       'DailyAverageDewPointTemperature', 'HourlySkyConditions',
       'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyVisibility',
       'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyPressureChange', 'HourlyPressureTendency', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
       'MonthlyMaxSeaLevelPressureValueDate',
       'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature',
       'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureValueDate',
       'MonthlyMinSeaLevelPressureValueTime', 'MonthlyMinimumTemperature',
       'MonthlySeaLevelPressure', 'MonthlyStationPressure',
       'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall',
       'MonthlyWetBulb', 'MonthlyAverageWindSpeed',
       'CoolingDegreeDaysSeasonToDate', 'MonthlyCoolingDegreeDays',
       'MonthlyNumberDaysWithSnowfall', 'HeatingDegreeDaysSeasonToDate',
       'MonthlyHeatingDegreeDays', 'MonthlyNumberDaysWithThunderstorms',
       'MonthlyNumberDaysWithHeavyFog', 'NormalsCoolingDegreeDay',
       'NormalsHeatingDegreeDay', 'ShortDurationEndDate005',
       'ShortDurationEndDate010', 'ShortDurationEndDate015',
       'ShortDurationEndDate020', 'ShortDurationEndDate030',
       'ShortDurationEndDate045', 'ShortDurationEndDate060',
       'ShortDurationEndDate080', 'ShortDurationEndDate100',
       'ShortDurationEndDate120', 'ShortDurationEndDate150',
       'ShortDurationEndDate180', 'ShortDurationPrecipitationValue005',
       'ShortDurationPrecipitationValue010',
       'ShortDurationPrecipitationValue015', 'HourlyDryBulbTemperature',
       'HourlyRelativeHumidity', 'HourlyWindGustSpeed', 'HourlyWindSpeed', 'NAME', 'DailyAverageWindSpeed', 'DailyPeakWindSpeed', 'SOURCE', 'DailyMaximumDryBulbTemperature',
       'DailyMinimumDryBulbTemperature','DailyAverageDryBulbTemperature', 'STATION' ], axis=1, inplace=True)

This data contains hourly data and daily averages, so removing rows that do not have daily average values.(Already removed the hourly reading columns.)

In [393]:
temp_wind_hum_df = temp_wind_hum_df.dropna(subset=['DailyAverageRelativeHumidity'])

In [394]:
temp_wind_hum_df.isnull().sum()

DATE                            0
DailyAverageRelativeHumidity    0
DailySustainedWindSpeed         0
dtype: int64

Checking data types:

In [395]:
temp_wind_hum_df.dtypes

DATE                             object
DailyAverageRelativeHumidity    float64
DailySustainedWindSpeed         float64
dtype: object

Converting date to datetime, and removing hours, minutes, and seconds, so it matches the other dataframes with only year, month, and day:

In [396]:
temp_wind_hum_df['DATE'] = pd.to_datetime(temp_wind_hum_df['DATE'])

In [397]:
temp_wind_hum_df['DATE'] = temp_wind_hum_df['DATE'].dt.date

In [398]:
temp_wind_hum_df['DATE'] = pd.to_datetime(temp_wind_hum_df['DATE'])

In [399]:
temp_wind_hum_df.dtypes

DATE                            datetime64[ns]
DailyAverageRelativeHumidity           float64
DailySustainedWindSpeed                float64
dtype: object

Renaming columns:

In [400]:
temp_wind_hum_df = temp_wind_hum_df.rename(columns = {'DATE': 'Date', 'DailyAverageRelativeHumidity': 'Average_Humidity',
       'DailySustainedWindSpeed': 'Sust_Wind_Speed'})

Checking for duplicates:

In [401]:
temp_wind_hum_df[temp_wind_hum_df['Date'].duplicated()]

Empty DataFrame
Columns: [Date, Average_Humidity, Sust_Wind_Speed]
Index: []

## Issue: Get General Info from Data:

(I asked chatgbt "what would be considered getting general info from data?" and am using that as a template here)

Basic structure:

In [402]:
temp_df.shape

(366, 3)

In [403]:
ozone_agg_df.shape

(364, 3)

In [404]:
temp_wind_hum_df.shape

(361, 3)

In [405]:
temp_df.columns

Index(['Date', 'Max_Temp', 'Min_Temp'], dtype='object')

In [406]:
ozone_agg_df.columns

Index(['Date', 'AQI_Value', 'Substance_Measured'], dtype='object')

In [407]:
temp_wind_hum_df.columns

Index(['Date', 'Average_Humidity', 'Sust_Wind_Speed'], dtype='object')

Data types:

In [408]:
temp_df.dtypes

Date        datetime64[ns]
Max_Temp             int64
Min_Temp             int64
dtype: object

In [409]:
ozone_agg_df.dtypes

Date                  datetime64[ns]
AQI_Value                      int64
Substance_Measured            object
dtype: object

In [410]:
temp_wind_hum_df.dtypes

Date                datetime64[ns]
Average_Humidity           float64
Sust_Wind_Speed            float64
dtype: object

Quick stats for numeric columns:

In [411]:
temp_df.describe()

                                Date    Max_Temp    Min_Temp
count                            366  366.000000  366.000000
mean   2024-07-01 12:00:00.000000256   69.448087   50.016393
min              2024-01-01 00:00:00   14.000000    0.000000
25%              2024-04-01 06:00:00   56.250000   38.000000
50%              2024-07-01 12:00:00   73.000000   52.000000
75%              2024-09-30 18:00:00   84.750000   64.000000
max              2024-12-31 00:00:00   99.000000   79.000000
std                              NaN   17.844727   16.595420

In [412]:
ozone_agg_df.describe()

                                Date   AQI_Value
count                            364  364.000000
mean   2024-06-30 13:23:04.615384320   43.005495
min              2024-01-01 00:00:00   12.000000
25%              2024-03-31 18:00:00   29.000000
50%              2024-06-30 12:00:00   40.000000
75%              2024-09-29 06:00:00   48.000000
max              2024-12-30 00:00:00  156.000000
std                              NaN   21.948599

In [413]:
temp_wind_hum_df.describe()

                                Date  Average_Humidity  Sust_Wind_Speed
count                            361        361.000000       361.000000
mean   2024-07-01 01:07:48.698061056         60.717452         8.168421
min              2024-01-01 00:00:00         33.000000         3.100000
25%              2024-03-31 00:00:00         52.000000         6.300000
50%              2024-07-03 00:00:00         59.000000         7.600000
75%              2024-10-01 00:00:00         69.000000         9.800000
max              2024-12-31 00:00:00         89.000000        19.200000
std                              NaN         12.056485         2.858156

Check for duplicates:

In [414]:
temp_df[temp_df.duplicated()]

Empty DataFrame
Columns: [Date, Max_Temp, Min_Temp]
Index: []

In [415]:
ozone_agg_df[ozone_agg_df.duplicated()]

Empty DataFrame
Columns: [Date, AQI_Value, Substance_Measured]
Index: []

In [416]:
temp_wind_hum_df[temp_wind_hum_df.duplicated()]

Empty DataFrame
Columns: [Date, Average_Humidity, Sust_Wind_Speed]
Index: []

Unique values in columns:

In [417]:
temp_df['Date'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-02 00:00:00', '2024-01-03 00:00:00',
 '2024-01-04 00:00:00', '2024-01-05 00:00:00', '2024-01-06 00:00:00',
 '2024-01-07 00:00:00', '2024-01-08 00:00:00', '2024-01-09 00:00:00',
 '2024-01-10 00:00:00',
 ...
 '2024-12-22 00:00:00', '2024-12-23 00:00:00', '2024-12-24 00:00:00',
 '2024-12-25 00:00:00', '2024-12-26 00:00:00', '2024-12-27 00:00:00',
 '2024-12-28 00:00:00', '2024-12-29 00:00:00', '2024-12-30 00:00:00',
 '2024-12-31 00:00:00']
Length: 366, dtype: datetime64[ns]

In [418]:
#looks like missing readings from two days of the year.  will create a rolling average for these days.
ozone_agg_df['Date'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-02 00:00:00', '2024-01-03 00:00:00',
 '2024-01-04 00:00:00', '2024-01-05 00:00:00', '2024-01-06 00:00:00',
 '2024-01-07 00:00:00', '2024-01-08 00:00:00', '2024-01-09 00:00:00',
 '2024-01-10 00:00:00',
 ...
 '2024-12-21 00:00:00', '2024-12-22 00:00:00', '2024-12-23 00:00:00',
 '2024-12-24 00:00:00', '2024-12-25 00:00:00', '2024-12-26 00:00:00',
 '2024-12-27 00:00:00', '2024-12-28 00:00:00', '2024-12-29 00:00:00',
 '2024-12-30 00:00:00']
Length: 364, dtype: datetime64[ns]

In [419]:
#looks like missing readings from 5 days of the year.  will create a rolling average for these days.
temp_wind_hum_df['Date'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-02 00:00:00', '2024-01-03 00:00:00',
 '2024-01-04 00:00:00', '2024-01-05 00:00:00', '2024-01-06 00:00:00',
 '2024-01-07 00:00:00', '2024-01-08 00:00:00', '2024-01-09 00:00:00',
 '2024-01-10 00:00:00',
 ...
 '2024-12-21 00:00:00', '2024-12-22 00:00:00', '2024-12-23 00:00:00',
 '2024-12-24 00:00:00', '2024-12-25 00:00:00', '2024-12-26 00:00:00',
 '2024-12-28 00:00:00', '2024-12-29 00:00:00', '2024-12-30 00:00:00',
 '2024-12-31 00:00:00']
Length: 361, dtype: datetime64[ns]

Viewing head of dataframes:

In [420]:
temp_df.head(3)

        Date  Max_Temp  Min_Temp
0 2024-01-01        37        31
1 2024-01-02        40        29
2 2024-01-03        42        23

In [421]:
ozone_agg_df.head(3)

        Date  AQI_Value Substance_Measured
0 2024-01-01         16              Ozone
1 2024-01-02         20              Ozone
2 2024-01-03         19              Ozone

In [422]:
temp_wind_hum_df.head(3)

         Date  Average_Humidity  Sust_Wind_Speed
0  2024-01-01              70.0              6.3
44 2024-01-02              67.0              6.3
83 2024-01-03              69.0              7.6

## Feature Engineering:

Combining temp_df and temp_wind_hum_df to be able to calculate heat index and wind chill:

In [425]:
merged_df = pd.merge(temp_df, temp_wind_hum_df, on='Date', how='left')

I am missing 5 days of data for wind and humidity.  So I will create a rolling average to fill those 5 days:

In [426]:
merged_df[merged_df['Average_Humidity'].isnull()]

          Date  Max_Temp  Min_Temp  Average_Humidity  Sust_Wind_Speed
175 2024-06-24        89        67               NaN              NaN
179 2024-06-28        92        66               NaN              NaN
180 2024-06-29        93        79               NaN              NaN
181 2024-06-30        86        69               NaN              NaN
361 2024-12-27        55        46               NaN              NaN

In [427]:
merged_df['Average_Humidity'] = merged_df['Average_Humidity'].fillna(merged_df['Average_Humidity'].rolling(window=7, min_periods=1, center=True).mean())

In [428]:
merged_df['Sust_Wind_Speed'] = merged_df['Sust_Wind_Speed'].fillna(merged_df['Sust_Wind_Speed'].rolling(window=7, min_periods=1, center=True).mean())

In [429]:
merged_df.isnull().sum()

Date                0
Max_Temp            0
Min_Temp            0
Average_Humidity    0
Sust_Wind_Speed     0
dtype: int64

Merging ozone data with merged temp, wind, and humidity data:

In [430]:
full_df = pd.merge(merged_df, ozone_agg_df, on='Date', how='left')

Missing 2 days of ozone readings, so will create rolling averages for those days:

In [431]:
full_df['AQI_Value'] = full_df['AQI_Value'].fillna(full_df['AQI_Value'].rolling(window=7, min_periods=1, center=True).mean())

In [432]:
full_df['Substance_Measured'] = full_df['Substance_Measured'].fillna('Ozone')

In [433]:
full_df.isnull().sum()

Date                  0
Max_Temp              0
Min_Temp              0
Average_Humidity      0
Sust_Wind_Speed       0
AQI_Value             0
Substance_Measured    0
dtype: int64


Creating a function to convert temp and windspeed into wind chill. 

Formula from National Weather Service.

If temp is above 50 or wind speed is below 3mph, windchill = air temperature without calculations.

In [434]:
def wind_chill(temp, wind):
    # temp in fahrenheit, wind in mph
    #temp must <= 50, wind must be >= 3
    if wind >= 3 and temp <= 50:
        wind_ch = 35.74 + 0.6215*temp - 35.75*(wind**0.16) + 0.4275*temp*(wind**0.16)
        return round(wind_ch, 1)
    else:
        return temp

#using 40 degress and 10mph wind to test function:   
wind_chill(40, 10)

33.6

Creating column 'Wind_Chill' with calculations for windchill during minimum temperature each day:

In [435]:
full_df['Wind_Chill'] = full_df.apply(lambda row: wind_chill(row['Min_Temp'], row['Sust_Wind_Speed']), axis=1)

Creating a function for calculating heat index.  Formula from National Weather Service, using temperature and humidity.

If temperature is below 80 or humidity is below 40%, the heat index = the air temperature.

This function has the formula for heat index, and returns the air temperature without calculating if temp < 80 or humidity < 40%.

In [436]:
def heat_index(temp, humidity):
    #temp in fahrenheit, relative humidity in 1-100%
    #temp must be >= 80, relative humidity >= 40%
    if temp >= 80 and humidity >= 40:
        heat_ind = (-42.379 + 2.04901523*temp + 10.14333127*humidity - 0.22475541*temp*humidity
          - 6.83783e-3*temp**2 - 5.481717e-2*humidity**2
          + 1.22874e-3*temp**2*humidity + 8.5282e-4*temp*humidity**2
          - 1.99e-6*temp**2*humidity**2)
        
        return round(heat_ind, 1)
    else:
        return temp
    
heat_index(81, 75)

85.5

Creating column 'Heat_Index' with calculations for heat index during maximum temperature each day:

In [437]:
full_df['Heat_Index'] = full_df.apply(lambda row: heat_index(row['Max_Temp'], row['Average_Humidity']), axis =1)

AQI = Air Quality Index:   0-50 good, 51-100 moderate, 101-150 unhealthy for sensitive groups, 151-200 unhealthy

Alerts issued when AQI is expected to reach 101 or more

Creating column 'Extreme_Weather' that is True if Temperature(including heat index) is 95 or higher, or Temperature(including windchill) is 35 or lower, or an ozone alert is called(with an AQI value of 100 or higher):

In [438]:
full_df['Extreme_Weather'] = (full_df['Max_Temp'] >= 95) | (full_df['Min_Temp'] <= 35) | (full_df['Wind_Chill'] <= 35) | (full_df['Heat_Index'] >= 95) | (full_df['AQI_Value'] >= 100)
full_df.head(3)

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured,Wind_Chill,Heat_Index,Extreme_Weather
0,2024-01-01,37,31,70.0,6.3,16.0,Ozone,24.8,37.0,True
1,2024-01-02,40,29,67.0,6.3,20.0,Ozone,22.4,40.0,True
2,2024-01-03,42,23,69.0,7.6,19.0,Ozone,14.2,42.0,True

Almost half of the days of the year in 2024 had extreme weather or ozone alerts:

In [439]:
full_df['Extreme_Weather'].value_counts()

Extreme_Weather
False    192
True     174
Name: count, dtype: int64

Looking at the differences of extreme weather, and noting how heat index and windchill are important, as they add 85 days that the weather is considered extreme.

In [440]:
(full_df['Max_Temp'] >= 95).sum()

np.int64(5)

In [441]:
(full_df['Heat_Index'] >= 95).sum()

np.int64(57)

In [442]:
(full_df['Min_Temp'] <= 35).sum()

np.int64(80)

In [443]:
(full_df['Wind_Chill'] <= 35).sum()

np.int64(113)

In [444]:
(full_df['AQI_Value'] >= 100).sum()

np.int64(13)

# Keep this file in your project

keep at the bottom of your project

We will go over it later, its a script that will generate a markdown table of contents based on your headings created here in markdown.

In [445]:
import json
import os


def generate_toc_from_notebook(notebook_path):
    """
    Parses a local .ipynb file and generates Markdown for a Table of Contents.
    """
    if not os.path.isfile(notebook_path):
        print(f"❌ Error: File not found at '{notebook_path}'")
        return

    with open(notebook_path, 'r', encoding='utf-8') as f:
        notebook = json.load(f)

    toc_markdown = "### **Table of Contents**\n"
    for cell in notebook.get('cells', []):
        if cell.get('cell_type') == 'markdown':
            for line in cell.get('source', []):
                if line.strip().startswith('#'):
                    level = line.count('#')
                    title = line.strip('#').strip()
                    link = title.lower().replace(' ', '-').strip('-.()')
                    indent = '  ' * (level - 1)
                    toc_markdown += f"{indent}* [{title}](#{link})\n"

    print("\n--- ✅ Copy the Markdown below and paste"
          "it into a new markdown cell ---\n")
    print(toc_markdown)


if __name__ == "__main__":
    # Example usage
    notebook_path = 'angela.ipynb'  # Replace with your notebook path
    generate_toc_from_notebook(notebook_path)

--- ✅ Copy the Markdown below and pasteit into a new markdown cell ---

### **Table of Contents**
    * [**Table of Contents**](#**table-of-contents**)
  * [(Will remove following Issues section when project is complete- using to stay organized)](#will-remove-following-issues-section-when-project-is-complete--using-to-stay-organized)
  * [Find Data and Note Source](#find-data-and-note-source)
  * [Reading in Data](#reading-in-data)
  * [Coverting Data to a Usable Format, and Building Ways to Handle Errors:](#coverting-data-to-a-usable-format,-and-building-ways-to-handle-errors:)
    * [Temperature data:](#temperature-data:)
    * [Ozone data:](#ozone-data:)
    * [Temp/Wind/Humidity Data:](#temp/wind/humidity-data:)
  * [Issue: Get General Info from Data:](#issue:-get-general-info-from-data:)
  * [Feature Engineering:](#feature-engineering:)
* [Keep this file in your project](#keep-this-file-in-your-project)