This project uses temperature data from the Louisville Weather Forecast office, ozone level data from stations in Jefferson County, and humidity and windchill data(to calculate average windchill and heat index) from the Louisville International Airport. These will provide estimates of extreme weather and unsafe air conditions for each day in 2024.

## First Sprint (10/27 deadline):
Issues:
- Find Data and Note Source     -done
- Read in Data                  -done
- Convert Data to a Usable Format  -done
- Build Ways to Handle Errors   -done
- Get General Info from Data    -done
## Second Sprint (11/19 deadline)
Issues:
- Deal with Nulls     -done
- Clean Up Code       -done
- Feature Engineering
- Clean Your Dataset

## Issue: Find Data and Note Source
Data set #1: 2024 Louisville Daily Max and Min Temperatures

Data: 4147807.csv

Source: https://www.ncdc.noaa.gov/cdo-web/search

Data set #2: 2024 Louisville Daily Ozone Readings

Data: ad_viz_plotval_data.csv

Source: https://www.epa.gov/outdoor-air-quality-data/download-daily-data

Dataset #3: Louisville International Airport Climatological Data- contains wind speed and humidity

Data: temp_wind_humidity

Source:  https://www.ncei.noaa.gov/access/search/data-search/local-climatological-data-v2?pageNum=1&dataTypes=DailyAverageRelativeHumidity&dataTypes=DailyMaximumDryBulbTemperature&dataTypes=DailyMinimumDryBulbTemperature&dataTypes=DailyPeakWindSpeed&dataTypes=DailySustainedWindSpeed&startDate=2024-01-01T00:00:00&endDate=2024-12-31T23:59:59&bbox=38.469,-85.965,38.043,-85.539

## Issue: Read in Data

In [191]:
import pandas as pd

Reading in temperature data set:

In [192]:
temp_df = pd.read_csv("4147807.csv")
temp_df.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS
0,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-01,0.0,0.0,0.0,37,31,35
1,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-02,0.0,0.0,0.0,40,29,29
2,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-03,0.0,0.0,0.0,42,23,35
3,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-04,0.0,0.0,0.0,41,27,27
4,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",2024-01-05,0.0,0.0,0.0,44,22,39

Reading in ozone data set:

In [193]:
ozone_df = pd.read_csv("ad_viz_plotval_data.csv")
ozone_df.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,Units,Daily AQI Value,Local Site Name,Daily Obs Count,Percent Complete,...,AQS Parameter Description,Method Code,CBSA Code,CBSA Name,State FIPS Code,State,County FIPS Code,County,Site Latitude,Site Longitude
0,01/01/2024,AQS,180190008,1,0.018,ppm,17,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
1,01/02/2024,AQS,180190008,1,0.022,ppm,20,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
2,01/03/2024,AQS,180190008,1,0.024,ppm,22,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
3,01/04/2024,AQS,180190008,1,0.025,ppm,23,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118
4,01/05/2024,AQS,180190008,1,0.024,ppm,22,Charlestown State Park- 1051.8 meters East of ...,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,19,Clark,38.393822,-85.664118

Reading in Temp/Wind/Humidity data:

In [194]:
temp_wind_hum_df = pd.read_csv("temp_wind_humidity.csv", low_memory=False)
temp_wind_hum_df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,USW00093821,2024-01-01T00:00:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",SOD,NaN,NaN,NaN,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
1,USW00093821,2024-01-01T00:56:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-15,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
2,USW00093821,2024-01-01T01:00:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-12,223.0,NaN,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
3,USW00093821,2024-01-01T01:56:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-15,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
4,USW00093821,2024-01-01T02:20:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-16,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007

## Issues: Covert Data to a Usable Format, and Build Ways to Handle Errors:

### Temperature data:

Checking for null values:

In [195]:
temp_df.isnull().sum()

STATION    0
NAME       0
DATE       0
PRCP       0
SNOW       0
SNWD       0
TMAX       0
TMIN       0
TOBS       0
dtype: int64

In [196]:
temp_df.isnull().values.any()

np.False_

No nulls in temperature data.

Converting date from object to datetime:

In [197]:
temp_df['DATE'] = pd.to_datetime(temp_df['DATE'])

In [198]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    datetime64[ns]
 3   PRCP     366 non-null    float64
 4   SNOW     366 non-null    float64
 5   SNWD     366 non-null    float64
 6   TMAX     366 non-null    int64
 7   TMIN     366 non-null    int64
 8   TOBS     366 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 25.9+ KB

Renaming columns, and removing unneeded columns:

In [199]:
temp_df.columns

Index(['STATION', 'NAME', 'DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN',
       'TOBS'],
      dtype='object')

In [200]:
temp_df = temp_df.rename(columns = {'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp', 'DATE': 'Date'})

In [201]:
temp_df.drop(['NAME', 'STATION', 'PRCP', 'SNOW', 'SNWD', 'TOBS'], axis=1, inplace=True)

In [202]:
temp_df.head()

        Date  Max_Temp  Min_Temp
0 2024-01-01        37        31
1 2024-01-02        40        29
2 2024-01-03        42        23
3 2024-01-04        41        27
4 2024-01-05        44        22

Checking for duplicated rows(even though it looks like one row for each day with 365 rows):

In [203]:
temp_df[temp_df['Date'].duplicated()]

Empty DataFrame
Columns: [Date, Max_Temp, Min_Temp]
Index: []

### Ozone data:

Checking for null values:

In [204]:
ozone_df.isnull().sum()

Date                                      0
Source                                    0
Site ID                                   0
POC                                       0
Daily Max 8-hour Ozone Concentration      0
Units                                     0
Daily AQI Value                           0
Local Site Name                         341
Daily Obs Count                           0
Percent Complete                          0
AQS Parameter Code                        0
AQS Parameter Description                 0
Method Code                               0
CBSA Code                                 0
CBSA Name                                 0
State FIPS Code                           0
State                                     0
County FIPS Code                          0
County                                    0
Site Latitude                             0
Site Longitude                            0
dtype: int64

In [205]:
ozone_df[ozone_df['Local Site Name'].isnull()]

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,Units,Daily AQI Value,Local Site Name,Daily Obs Count,Percent Complete,...,AQS Parameter Description,Method Code,CBSA Code,CBSA Name,State FIPS Code,State,County FIPS Code,County,Site Latitude,Site Longitude
344,01/01/2024,AQS,180430008,1,0.017,ppm,16,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
345,01/03/2024,AQS,180430008,1,0.024,ppm,22,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
346,01/04/2024,AQS,180430008,1,0.022,ppm,20,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
347,01/05/2024,AQS,180430008,1,0.016,ppm,15,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
348,01/06/2024,AQS,180430008,1,0.019,ppm,18,NaN,17,100.0,...,Ozone,47,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,12/26/2024,AQS,180430008,1,0.022,ppm,20,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
681,12/27/2024,AQS,180430008,1,0.025,ppm,23,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
682,12/28/2024,AQS,180430008,1,0.018,ppm,17,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
683,12/29/2024,AQS,180430008,1,0.041,ppm,38,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322
684,12/30/2024,AQS,180430008,1,0.029,ppm,27,NaN,17,100.0,...,Ozone,87,31140,"Louisville/Jefferson County, KY-IN",18,Indiana,43,Floyd,38.317813,-85.833322

### (Issue: Deal with Nulls):

Filling in the nulls with 'unknown', as they all come from the same latitude and longitude.  Also, this site is in Floyd County, not Jeffersone, and I will be removing the data from sites that are not in Jefferson County, as I am focusing on Lousiville Metro data.

In [206]:
ozone_df['Local Site Name'] = ozone_df['Local Site Name'].fillna('Unknown')

In [207]:
ozone_df.isnull().sum()

Date                                    0
Source                                  0
Site ID                                 0
POC                                     0
Daily Max 8-hour Ozone Concentration    0
Units                                   0
Daily AQI Value                         0
Local Site Name                         0
Daily Obs Count                         0
Percent Complete                        0
AQS Parameter Code                      0
AQS Parameter Description               0
Method Code                             0
CBSA Code                               0
CBSA Name                               0
State FIPS Code                         0
State                                   0
County FIPS Code                        0
County                                  0
Site Latitude                           0
Site Longitude                          0
dtype: int64

Converting 'Date' column from object to datetime:

In [208]:
ozone_df['Date'] = pd.to_datetime(ozone_df['Date'])

In [209]:
ozone_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  2243 non-null   datetime64[ns]
 1   Source                                2243 non-null   object
 2   Site ID                               2243 non-null   int64
 3   POC                                   2243 non-null   int64
 4   Daily Max 8-hour Ozone Concentration  2243 non-null   float64
 5   Units                                 2243 non-null   object
 6   Daily AQI Value                       2243 non-null   int64
 7   Local Site Name                       2243 non-null   object
 8   Daily Obs Count                       2243 non-null   int64
 9   Percent Complete                      2243 non-null   float64
 10  AQS Parameter Code                    2243 non-null   int64
 11  AQS Parameter Description             2243 non-null   object
 12  Method Code                           2243 non-null   int64
 13  CBSA Code                             2243 non-null   int64
 14  CBSA Name                             2243 non-null   object
 15  State FIPS Code                       2243 non-null   int64
 16  State                                 2243 non-null   object
 17  County FIPS Code                      2243 non-null   int64
 18  County                                2243 non-null   object
 19  Site Latitude                         2243 non-null   float64
 20  Site Longitude                        2243 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(9), object(7)
memory usage: 368.1+ KB

Removing columns and renaming columns:

In [210]:
ozone_df.columns = ozone_df.columns.str.replace(' ', '_')

In [211]:
ozone_df.rename(columns = {'Daily_Max_8-hour_Ozone_Concentration': 'Max_Concentration', 'Daily_AQI_Value': 'AQI_Value', 'AQS_Parameter_Description': 'Substance_Measured'}, inplace=True)

In [212]:
ozone_df.drop(['Daily_Obs_Count', 'Units', 'Source', 'POC', 'Method_Code', 'CBSA_Code', 'CBSA_Name', 'State_FIPS_Code', 'State', 'County_FIPS_Code', 'AQS_Parameter_Code', 'Percent_Complete', 'Site_ID', 'Site_Latitude', 'Site_Longitude'], axis=1, inplace=True)

In [213]:
ozone_df.head()

,Date,Max_Concentration,AQI_Value,Local_Site_Name,Substance_Measured,County
0,2024-01-01,0.018,17,Charlestown State Park- 1051.8 meters East of ...,Ozone,Clark
1,2024-01-02,0.022,20,Charlestown State Park- 1051.8 meters East of ...,Ozone,Clark
2,2024-01-03,0.024,22,Charlestown State Park- 1051.8 meters East of ...,Ozone,Clark
3,2024-01-04,0.025,23,Charlestown State Park- 1051.8 meters East of ...,Ozone,Clark
4,2024-01-05,0.024,22,Charlestown State Park- 1051.8 meters East of ...,Ozone,Clark

Not all sites are in Lousiville Metro- removing counties that are not Jefferson:

In [214]:
ozone_df['County'].value_counts()

County
Jefferson    1077
Clark         344
Floyd         341
Bullitt       241
Oldham        240
Name: count, dtype: int64

In [215]:
ozone_df = ozone_df[ozone_df['County'] == 'Jefferson']

In [216]:
ozone_df

,Date,Max_Concentration,AQI_Value,Local_Site_Name,Substance_Measured,County
926,2024-03-01,0.023,21,Watson Lane,Ozone,Jefferson
927,2024-03-02,0.024,22,Watson Lane,Ozone,Jefferson
928,2024-03-03,0.034,31,Watson Lane,Ozone,Jefferson
929,2024-03-04,0.032,30,Watson Lane,Ozone,Jefferson
930,2024-03-05,0.029,27,Watson Lane,Ozone,Jefferson
...,...,...,...,...,...,...
1998,2024-10-26,0.039,36,Algonquin Parkway,Ozone,Jefferson
1999,2024-10-27,0.040,37,Algonquin Parkway,Ozone,Jefferson
2000,2024-10-28,0.036,33,Algonquin Parkway,Ozone,Jefferson
2001,2024-10-29,0.046,43,Algonquin Parkway,Ozone,Jefferson
2002,2024-10-30,0.042,39,Algonquin Parkway,Ozone,Jefferson

Removing more uneeded columns:

In [217]:
ozone_df.drop(['Max_Concentration', 'Local_Site_Name', 'County'], axis=1, inplace=True)

Checking datatypes:

In [218]:
ozone_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077 entries, 926 to 2002
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1077 non-null   datetime64[ns]
 1   AQI_Value           1077 non-null   int64
 2   Substance_Measured  1077 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 33.7+ KB

Checking for duplicates:

In [219]:
ozone_df[ozone_df.duplicated(subset=['Date'])]

           Date  AQI_Value Substance_Measured
1217 2024-03-01         23              Ozone
1218 2024-03-02         22              Ozone
1219 2024-03-03         34              Ozone
1220 2024-03-04         33              Ozone
1221 2024-03-05         28              Ozone
...         ...        ...                ...
1998 2024-10-26         36              Ozone
1999 2024-10-27         37              Ozone
2000 2024-10-28         33              Ozone
2001 2024-10-29         43              Ozone
2002 2024-10-30         39              Ozone

[713 rows x 3 columns]

Aggregating ozone data to keep the max ozone reading per day:

In [220]:
ozone_agg_df = ozone_df.groupby(ozone_df['Date']).max().reset_index()

### Temp/Wind/Humidity Data:

In [221]:
temp_wind_hum_df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,USW00093821,2024-01-01T00:00:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",SOD,NaN,NaN,NaN,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
1,USW00093821,2024-01-01T00:56:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-15,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
2,USW00093821,2024-01-01T01:00:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-12,223.0,NaN,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
3,USW00093821,2024-01-01T01:56:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-15,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007
4,USW00093821,2024-01-01T02:20:00,38.1811,-85.7391,148.7,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",FM-16,343.0,1021.0,-3.9,...,SE,6.49,mi,"TEMP, PRECIP, SNOW",632,"MMTS, SRG, SNOWSTICK, SNOWBOARD",38.1151,-85.6445,"LOUISVILLE WFO, KY",06/14/2007

Removing uneeded columns:

In [222]:
temp_wind_hum_df.drop(['BackupDirection', 'BackupDistance', 'BackupDistanceUnit',
       'BackupElements', 'BackupElevation', 'BackupEquipment',
       'BackupLatitude', 'BackupLongitude', 'BackupName',
       'WindEquipmentChangeDate','LATITUDE', 'LONGITUDE', 'ELEVATION','REPORT_TYPE','ShortDurationPrecipitationValue020',
       'ShortDurationPrecipitationValue030',
       'ShortDurationPrecipitationValue045',
       'ShortDurationPrecipitationValue060',
       'ShortDurationPrecipitationValue080',
       'ShortDurationPrecipitationValue100',
       'ShortDurationPrecipitationValue120',
       'ShortDurationPrecipitationValue150',
       'ShortDurationPrecipitationValue180', 'REM','HourlyPrecipitation',
       'HourlyPresentWeatherType', 'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'DailyWeather', 'MonthlyAverageRH',
       'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip',
       'MonthlyDaysWithGT32Temp', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
       'MonthlyDepartureFromNormalAverageTemperature',
       'MonthlyDepartureFromNormalCoolingDegreeDays',
       'MonthlyDepartureFromNormalHeatingDegreeDays',
       'MonthlyDepartureFromNormalMaximumTemperature',
       'MonthlyDepartureFromNormalMinimumTemperature',
       'MonthlyDepartureFromNormalPrecipitation', 'MonthlyDewpointTemperature',
       'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'DailyPrecipitation',
       'DailySnowDepth', 'DailySnowfall', 'DailySustainedWindDirection', 'DailyPeakWindDirection', 'DailyCoolingDegreeDays',
       'DailyDepartureFromNormalAverageTemperature', 'DailyHeatingDegreeDays', 'DailyAverageSeaLevelPressure',
       'DailyAverageStationPressure', 'DailyAverageWetBulbTemperature', 'Sunrise', 'Sunset',
       'DailyAverageDewPointTemperature', 'HourlySkyConditions',
       'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyVisibility',
       'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyPressureChange', 'HourlyPressureTendency', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
       'MonthlyMaxSeaLevelPressureValueDate',
       'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature',
       'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureValueDate',
       'MonthlyMinSeaLevelPressureValueTime', 'MonthlyMinimumTemperature',
       'MonthlySeaLevelPressure', 'MonthlyStationPressure',
       'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall',
       'MonthlyWetBulb', 'MonthlyAverageWindSpeed',
       'CoolingDegreeDaysSeasonToDate', 'MonthlyCoolingDegreeDays',
       'MonthlyNumberDaysWithSnowfall', 'HeatingDegreeDaysSeasonToDate',
       'MonthlyHeatingDegreeDays', 'MonthlyNumberDaysWithThunderstorms',
       'MonthlyNumberDaysWithHeavyFog', 'NormalsCoolingDegreeDay',
       'NormalsHeatingDegreeDay', 'ShortDurationEndDate005',
       'ShortDurationEndDate010', 'ShortDurationEndDate015',
       'ShortDurationEndDate020', 'ShortDurationEndDate030',
       'ShortDurationEndDate045', 'ShortDurationEndDate060',
       'ShortDurationEndDate080', 'ShortDurationEndDate100',
       'ShortDurationEndDate120', 'ShortDurationEndDate150',
       'ShortDurationEndDate180', 'ShortDurationPrecipitationValue005',
       'ShortDurationPrecipitationValue010',
       'ShortDurationPrecipitationValue015', 'HourlyDryBulbTemperature',
       'HourlyRelativeHumidity', 'HourlyWindGustSpeed', 'HourlyWindSpeed', 'NAME', 'DailyAverageWindSpeed', 'DailyPeakWindSpeed', 'SOURCE', 'DailyMaximumDryBulbTemperature',
       'DailyMinimumDryBulbTemperature','DailyAverageDryBulbTemperature', 'STATION' ], axis=1, inplace=True)

In [223]:
temp_wind_hum_df.head()

                  DATE  DailyAverageRelativeHumidity  DailySustainedWindSpeed
0  2024-01-01T00:00:00                          70.0                      6.3
1  2024-01-01T00:56:00                           NaN                      NaN
2  2024-01-01T01:00:00                           NaN                      NaN
3  2024-01-01T01:56:00                           NaN                      NaN
4  2024-01-01T02:20:00                           NaN                      NaN

### (Issue Deal with Nulls:)
This data contains hourly data and daily averages, so removing rows that do not have daily average values.(Already removed the hourly reading columns.)

In [224]:
temp_wind_hum_df = temp_wind_hum_df.dropna(subset=['DailyAverageRelativeHumidity'])

In [225]:
temp_wind_hum_df.isnull().sum()

DATE                            0
DailyAverageRelativeHumidity    0
DailySustainedWindSpeed         0
dtype: int64

In [226]:
temp_wind_hum_df.head()

,DATE,DailyAverageRelativeHumidity,DailySustainedWindSpeed
0,2024-01-01T00:00:00,70.0,6.3
44,2024-01-02T00:00:00,67.0,6.3
83,2024-01-03T00:00:00,69.0,7.6
118,2024-01-04T00:00:00,61.0,7.6
152,2024-01-05T00:00:00,60.0,4.5

Checking data types:

In [227]:
temp_wind_hum_df.dtypes

DATE                             object
DailyAverageRelativeHumidity    float64
DailySustainedWindSpeed         float64
dtype: object

Converting date to datetime, and removing hours, minutes, and seconds, so it matches the other dataframes with only year, month, and day:

In [228]:
temp_wind_hum_df['DATE'] = pd.to_datetime(temp_wind_hum_df['DATE'])

In [229]:
temp_wind_hum_df['DATE'] = temp_wind_hum_df['DATE'].dt.date

In [230]:
temp_wind_hum_df['DATE'] = pd.to_datetime(temp_wind_hum_df['DATE'])

In [231]:
temp_wind_hum_df.dtypes

DATE                            datetime64[ns]
DailyAverageRelativeHumidity           float64
DailySustainedWindSpeed                float64
dtype: object

In [232]:
temp_wind_hum_df.head()

          DATE  DailyAverageRelativeHumidity  DailySustainedWindSpeed
0   2024-01-01                          70.0                      6.3
44  2024-01-02                          67.0                      6.3
83  2024-01-03                          69.0                      7.6
118 2024-01-04                          61.0                      7.6
152 2024-01-05                          60.0                      4.5

Renaming columns:

In [233]:
temp_wind_hum_df = temp_wind_hum_df.rename(columns = {'DATE': 'Date', 'DailyAverageRelativeHumidity': 'Average_Humidity',
       'DailySustainedWindSpeed': 'Sust_Wind_Speed'})

In [234]:
temp_wind_hum_df.head()

          Date  Average_Humidity  Sust_Wind_Speed
0   2024-01-01              70.0              6.3
44  2024-01-02              67.0              6.3
83  2024-01-03              69.0              7.6
118 2024-01-04              61.0              7.6
152 2024-01-05              60.0              4.5

Checking for duplicates:

In [235]:
temp_wind_hum_df[temp_wind_hum_df['Date'].duplicated()]

Empty DataFrame
Columns: [Date, Average_Humidity, Sust_Wind_Speed]
Index: []

## Issue: Get General Info from Data:

(I asked chatgbt "what would be considered getting general info from data?" and am using that as a template here)

Basic structure:

In [236]:
temp_df.shape

(366, 3)

In [237]:
ozone_df.shape

(1077, 3)

In [238]:
temp_df.columns

Index(['Date', 'Max_Temp', 'Min_Temp'], dtype='object')

In [239]:
ozone_df.columns

Index(['Date', 'AQI_Value', 'Substance_Measured'], dtype='object')

In [240]:
temp_df.index

RangeIndex(start=0, stop=366, step=1)

In [241]:
ozone_df.index

Index([ 926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
       ...
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002],
      dtype='int64', length=1077)

Data types and non-null counts:

In [242]:
temp_df.dtypes

Date        datetime64[ns]
Max_Temp             int64
Min_Temp             int64
dtype: object

In [243]:
ozone_df.dtypes

Date                  datetime64[ns]
AQI_Value                      int64
Substance_Measured            object
dtype: object

In [244]:
temp_df.info

<bound method DataFrame.info of           Date  Max_Temp  Min_Temp
0   2024-01-01        37        31
1   2024-01-02        40        29
2   2024-01-03        42        23
3   2024-01-04        41        27
4   2024-01-05        44        22
..         ...       ...       ...
361 2024-12-27        55        46
362 2024-12-28        58        51
363 2024-12-29        60        45
364 2024-12-30        53        43
365 2024-12-31        55        39

[366 rows x 3 columns]>

In [245]:
ozone_df.info

<bound method DataFrame.info of            Date  AQI_Value Substance_Measured
926  2024-03-01         21              Ozone
927  2024-03-02         22              Ozone
928  2024-03-03         31              Ozone
929  2024-03-04         30              Ozone
930  2024-03-05         27              Ozone
...         ...        ...                ...
1998 2024-10-26         36              Ozone
1999 2024-10-27         37              Ozone
2000 2024-10-28         33              Ozone
2001 2024-10-29         43              Ozone
2002 2024-10-30         39              Ozone

[1077 rows x 3 columns]>

Quick stats for numeric columns:

In [246]:
temp_df.describe()

                                Date    Max_Temp    Min_Temp
count                            366  366.000000  366.000000
mean   2024-07-01 12:00:00.000000256   69.448087   50.016393
min              2024-01-01 00:00:00   14.000000    0.000000
25%              2024-04-01 06:00:00   56.250000   38.000000
50%              2024-07-01 12:00:00   73.000000   52.000000
75%              2024-09-30 18:00:00   84.750000   64.000000
max              2024-12-31 00:00:00   99.000000   79.000000
std                              NaN   17.844727   16.595420

In [247]:
ozone_df.describe()

                                Date    AQI_Value
count                           1077  1077.000000
mean   2024-06-30 22:42:27.075209216    43.514392
min              2024-01-01 00:00:00    12.000000
25%              2024-04-23 00:00:00    33.000000
50%              2024-06-30 00:00:00    41.000000
75%              2024-09-08 00:00:00    48.000000
max              2024-12-30 00:00:00   156.000000
std                              NaN    17.523352

In [248]:
temp_df.describe(include='all')

                                Date    Max_Temp    Min_Temp
count                            366  366.000000  366.000000
mean   2024-07-01 12:00:00.000000256   69.448087   50.016393
min              2024-01-01 00:00:00   14.000000    0.000000
25%              2024-04-01 06:00:00   56.250000   38.000000
50%              2024-07-01 12:00:00   73.000000   52.000000
75%              2024-09-30 18:00:00   84.750000   64.000000
max              2024-12-31 00:00:00   99.000000   79.000000
std                              NaN   17.844727   16.595420

In [249]:
ozone_df.describe(include='all')

                                 Date    AQI_Value Substance_Measured
count                            1077  1077.000000               1077
unique                            NaN          NaN                  1
top                               NaN          NaN              Ozone
freq                              NaN          NaN               1077
mean    2024-06-30 22:42:27.075209216    43.514392                NaN
min               2024-01-01 00:00:00    12.000000                NaN
25%               2024-04-23 00:00:00    33.000000                NaN
50%               2024-06-30 00:00:00    41.000000                NaN
75%               2024-09-08 00:00:00    48.000000                NaN
max               2024-12-30 00:00:00   156.000000                NaN
std                               NaN    17.523352                NaN

Check for missing data:

In [250]:
temp_df.isnull().sum()

Date        0
Max_Temp    0
Min_Temp    0
dtype: int64

In [251]:
ozone_df.isnull().sum()

Date                  0
AQI_Value             0
Substance_Measured    0
dtype: int64

Check for duplicates:

In [252]:
temp_df.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
361    False
362    False
363    False
364    False
365    False
Length: 366, dtype: bool>

In [253]:
ozone_df.duplicated().sum

<bound method Series.sum of 926     False
927     False
928     False
929     False
930     False
        ...
1998     True
1999    False
2000    False
2001    False
2002    False
Length: 1077, dtype: bool>

In [254]:
temp_df[temp_df.duplicated()]

Empty DataFrame
Columns: [Date, Max_Temp, Min_Temp]
Index: []

In [255]:
ozone_df[ozone_df.duplicated()]

           Date  AQI_Value Substance_Measured
1218 2024-03-02         22              Ozone
1222 2024-03-06         17              Ozone
1236 2024-03-21         40              Ozone
1251 2024-04-05         31              Ozone
1258 2024-04-12         38              Ozone
...         ...        ...                ...
1987 2024-10-15         26              Ozone
1988 2024-10-16         30              Ozone
1989 2024-10-17         33              Ozone
1990 2024-10-18         37              Ozone
1998 2024-10-26         36              Ozone

[177 rows x 3 columns]

Unique values in columns:

In [256]:
temp_df['Date'].unique()

<DatetimeArray>
['2024-01-01 00:00:00', '2024-01-02 00:00:00', '2024-01-03 00:00:00',
 '2024-01-04 00:00:00', '2024-01-05 00:00:00', '2024-01-06 00:00:00',
 '2024-01-07 00:00:00', '2024-01-08 00:00:00', '2024-01-09 00:00:00',
 '2024-01-10 00:00:00',
 ...
 '2024-12-22 00:00:00', '2024-12-23 00:00:00', '2024-12-24 00:00:00',
 '2024-12-25 00:00:00', '2024-12-26 00:00:00', '2024-12-27 00:00:00',
 '2024-12-28 00:00:00', '2024-12-29 00:00:00', '2024-12-30 00:00:00',
 '2024-12-31 00:00:00']
Length: 366, dtype: datetime64[ns]

In [257]:
#looks like missing readings from two days of the year
ozone_df['Date'].unique()

<DatetimeArray>
['2024-03-01 00:00:00', '2024-03-02 00:00:00', '2024-03-03 00:00:00',
 '2024-03-04 00:00:00', '2024-03-05 00:00:00', '2024-03-06 00:00:00',
 '2024-03-07 00:00:00', '2024-03-08 00:00:00', '2024-03-09 00:00:00',
 '2024-03-10 00:00:00',
 ...
 '2024-12-22 00:00:00', '2024-12-23 00:00:00', '2024-12-24 00:00:00',
 '2024-12-25 00:00:00', '2024-12-26 00:00:00', '2024-12-27 00:00:00',
 '2024-12-28 00:00:00', '2024-12-29 00:00:00', '2024-12-30 00:00:00',
 '2024-03-19 00:00:00']
Length: 364, dtype: datetime64[ns]

Viewing head of both dataframes:

In [258]:
temp_df.head()

        Date  Max_Temp  Min_Temp
0 2024-01-01        37        31
1 2024-01-02        40        29
2 2024-01-03        42        23
3 2024-01-04        41        27
4 2024-01-05        44        22

In [259]:
ozone_df.head()

          Date  AQI_Value Substance_Measured
926 2024-03-01         21              Ozone
927 2024-03-02         22              Ozone
928 2024-03-03         31              Ozone
929 2024-03-04         30              Ozone
930 2024-03-05         27              Ozone

### Issue: Clean Up Code:
Code is clean and markdown cells used for organization and a clean look.

## Issue: Feature Engineering:

In [260]:
temp_df.head()

        Date  Max_Temp  Min_Temp
0 2024-01-01        37        31
1 2024-01-02        40        29
2 2024-01-03        42        23
3 2024-01-04        41        27
4 2024-01-05        44        22

In [261]:
ozone_agg_df.head()

        Date  AQI_Value Substance_Measured
0 2024-01-01         16              Ozone
1 2024-01-02         20              Ozone
2 2024-01-03         19              Ozone
3 2024-01-04         21              Ozone
4 2024-01-05         20              Ozone

In [262]:
temp_wind_hum_df.head()

          Date  Average_Humidity  Sust_Wind_Speed
0   2024-01-01              70.0              6.3
44  2024-01-02              67.0              6.3
83  2024-01-03              69.0              7.6
118 2024-01-04              61.0              7.6
152 2024-01-05              60.0              4.5

Creating a column to describe the ozone levels- 

AQI = Air Quality Index

0-50 good, 51-100 moderate, 101-150 unhealthy for sensitive groups, 151-200 unhealthy

Alerts issued when AQI is expected to reach 101 or more

In [263]:
#Creating a new column, filtering AQI Values into categories
# ozone_df["Ozone_Levels"] = pd.cut(
#     ozone_df["AQI_Value"],
#     bins=[0, 50, 100, 150, 200],
#     labels=["Good", "Moderate", "Unhealthy Sensitive", "Unhealthy"]
# )
# ozone_df

Creating column Ozone_Alert that will be True when AQI level is above 100:

In [264]:
# ozone_df["Ozone_Alert"] = ozone_df["AQI_Value"] > 100
# ozone_df

Combining temp_df and temp_wind_hum_df to be able to calculate heat index and wind chill:

In [265]:
merged_df = pd.merge(temp_df, temp_wind_hum_df, on='Date', how='left')

In [266]:
merged_df

          Date  Max_Temp  Min_Temp  Average_Humidity  Sust_Wind_Speed
0   2024-01-01        37        31              70.0              6.3
1   2024-01-02        40        29              67.0              6.3
2   2024-01-03        42        23              69.0              7.6
3   2024-01-04        41        27              61.0              7.6
4   2024-01-05        44        22              60.0              4.5
..         ...       ...       ...               ...              ...
361 2024-12-27        55        46               NaN              NaN
362 2024-12-28        58        51              80.0              6.3
363 2024-12-29        60        45              76.0             14.8
364 2024-12-30        53        43              72.0              7.2
365 2024-12-31        55        39              70.0             13.9

[366 rows x 5 columns]

I am missing 5 days of data for wind and humidity.  So I will create a rolling average to fill those 5 days:

In [267]:
merged_df[merged_df['Average_Humidity'].isnull()]

          Date  Max_Temp  Min_Temp  Average_Humidity  Sust_Wind_Speed
175 2024-06-24        89        67               NaN              NaN
179 2024-06-28        92        66               NaN              NaN
180 2024-06-29        93        79               NaN              NaN
181 2024-06-30        86        69               NaN              NaN
361 2024-12-27        55        46               NaN              NaN

In [268]:
merged_df['Average_Humidity'] = merged_df['Average_Humidity'].fillna(merged_df['Average_Humidity'].rolling(window=7, min_periods=1, center=True).mean())

In [269]:
merged_df['Sust_Wind_Speed'] = merged_df['Sust_Wind_Speed'].fillna(merged_df['Sust_Wind_Speed'].rolling(window=7, min_periods=1, center=True).mean())

In [270]:
merged_df.isnull().sum()

Date                0
Max_Temp            0
Min_Temp            0
Average_Humidity    0
Sust_Wind_Speed     0
dtype: int64

Merging ozone data with merged temp, wind, and humidity data:

In [271]:
full_df = pd.merge(merged_df, ozone_agg_df, on='Date', how='left')
full_df

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured
0,2024-01-01,37,31,70.0,6.300000,16.0,Ozone
1,2024-01-02,40,29,67.0,6.300000,20.0,Ozone
2,2024-01-03,42,23,69.0,7.600000,19.0,Ozone
3,2024-01-04,41,27,61.0,7.600000,21.0,Ozone
4,2024-01-05,44,22,60.0,4.500000,20.0,Ozone
...,...,...,...,...,...,...,...
361,2024-12-27,55,46,72.0,7.566667,27.0,Ozone
362,2024-12-28,58,51,80.0,6.300000,22.0,Ozone
363,2024-12-29,60,45,76.0,14.800000,40.0,Ozone
364,2024-12-30,53,43,72.0,7.200000,27.0,Ozone
365,2024-12-31,55,39,70.0,13.900000,NaN,NaN

Missing 2 days of ozone readings, so will create rolling averages for those days:

In [272]:
full_df['AQI_Value'] = full_df['AQI_Value'].fillna(full_df['AQI_Value'].rolling(window=7, min_periods=1, center=True).mean())

In [273]:
full_df['Substance_Measured'] = full_df['Substance_Measured'].fillna('Ozone')

In [274]:
full_df.isnull().sum()

Date                  0
Max_Temp              0
Min_Temp              0
Average_Humidity      0
Sust_Wind_Speed       0
AQI_Value             0
Substance_Measured    0
dtype: int64

In [275]:
full_df.head()

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured
0,2024-01-01,37,31,70.0,6.3,16.0,Ozone
1,2024-01-02,40,29,67.0,6.3,20.0,Ozone
2,2024-01-03,42,23,69.0,7.6,19.0,Ozone
3,2024-01-04,41,27,61.0,7.6,21.0,Ozone
4,2024-01-05,44,22,60.0,4.5,20.0,Ozone


Creating a function to convert temp and windspeed into wind chill. 

Formula from National Weather Service.

If temp is above 50 or wind speed is below 3mph, windchill = air temperature without calculations.

In [277]:
def wind_chill(temp, wind):
    # temp in fahrenheit, wind in mph
    #temp must <= 50, wind must be >= 3
    if wind >= 3 and temp <= 50:
        wind_ch = 35.74 + 0.6215*temp - 35.75*(wind**0.16) + 0.4275*temp*(wind**0.16)
        return round(wind_ch, 1)
    else:
        return temp
    
wind_chill(37, 8.5)

30.7

In [278]:
full_df['Wind_Chill'] = full_df.apply(lambda row: wind_chill(row['Min_Temp'], row['Sust_Wind_Speed']), axis=1)

In [279]:
full_df.head()

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured,Wind_Chill
0,2024-01-01,37,31,70.0,6.3,16.0,Ozone,24.8
1,2024-01-02,40,29,67.0,6.3,20.0,Ozone,22.4
2,2024-01-03,42,23,69.0,7.6,19.0,Ozone,14.2
3,2024-01-04,41,27,61.0,7.6,21.0,Ozone,19.0
4,2024-01-05,44,22,60.0,4.5,20.0,Ozone,15.9

Creating a function for calculating heat index.  Formula from National Weather Service, using temperature and humidity.

If temperature is below 80 or humidity is below 40%, the heat index = the air temperature.

This function has the formula for heat index, and returns the air temperature without calculating if temp < 80 or humidity < 40%.

In [280]:
def heat_index(temp, humidity):
    #temp in fahrenheit, relative humidity in 1-100%
    #temp must be >= 80, relative humidity >= 40%
    if temp >= 80 and humidity >= 40:
        heat_ind = (-42.379 + 2.04901523*temp + 10.14333127*humidity - 0.22475541*temp*humidity
          - 6.83783e-3*temp**2 - 5.481717e-2*humidity**2
          + 1.22874e-3*temp**2*humidity + 8.5282e-4*temp*humidity**2
          - 1.99e-6*temp**2*humidity**2)
        
        return round(heat_ind, 1)
    else:
        return temp
    
heat_index(81, 75)

85.5

In [281]:
full_df['Heat_Index'] = full_df.apply(lambda row: heat_index(row['Max_Temp'], row['Average_Humidity']), axis =1)

In [282]:
full_df.head()

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured,Wind_Chill,Heat_Index
0,2024-01-01,37,31,70.0,6.3,16.0,Ozone,24.8,37.0
1,2024-01-02,40,29,67.0,6.3,20.0,Ozone,22.4,40.0
2,2024-01-03,42,23,69.0,7.6,19.0,Ozone,14.2,42.0
3,2024-01-04,41,27,61.0,7.6,21.0,Ozone,19.0,41.0
4,2024-01-05,44,22,60.0,4.5,20.0,Ozone,15.9,44.0

Creating column 'Extreme_Weather' that is True if Temperature(including heat index) is 95 or higher, or Temperature(including windchill) is 35 or lower, or an ozone alert is called(with an AQI value of 100 or higher):

In [285]:
full_df['Extreme_Weather'] = (full_df['Max_Temp'] >= 95) | (full_df['Min_Temp'] <= 35) | (full_df['Wind_Chill'] <= 35) | (full_df['Heat_Index'] >= 95) | (full_df['AQI_Value'] >= 100)
full_df

,Date,Max_Temp,Min_Temp,Average_Humidity,Sust_Wind_Speed,AQI_Value,Substance_Measured,Wind_Chill,Heat_Index,Extreme_Weather
0,2024-01-01,37,31,70.0,6.300000,16.000000,Ozone,24.8,37.0,True
1,2024-01-02,40,29,67.0,6.300000,20.000000,Ozone,22.4,40.0,True
2,2024-01-03,42,23,69.0,7.600000,19.000000,Ozone,14.2,42.0,True
3,2024-01-04,41,27,61.0,7.600000,21.000000,Ozone,19.0,41.0,True
4,2024-01-05,44,22,60.0,4.500000,20.000000,Ozone,15.9,44.0,True
...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,55,46,72.0,7.566667,27.000000,Ozone,42.1,55.0,False
362,2024-12-28,58,51,80.0,6.300000,22.000000,Ozone,51.0,58.0,False
363,2024-12-29,60,45,76.0,14.800000,40.000000,Ozone,38.3,60.0,False
364,2024-12-30,53,43,72.0,7.200000,27.000000,Ozone,38.6,53.0,False
365,2024-12-31,55,39,70.0,13.900000,29.666667,Ozone,30.9,55.0,True